<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AAD:Instance" value="https://login.microsoftonline.com/{0}" />
    <add key="AAD:Tenant" value="{Tenant-Name}" />
    <add key="AAD:ClientId" value="{Client-Id}" />
    <add key="AAD:AppKey" value="{App-Key}" />
    <add key="Token:ResourceId" value="https://management.core.windows.net/" />

    <add key="DTU:UrlFormat" value="https://management.azure.com/subscriptions/{0}/resourceGroups/{1}/providers/Microsoft.Sql/servers/{2}/databases/{3}/providers/microsoft.insights/metrics?metricnames=dtu_consumption_percent&amp;api-version=2018-01-01&amp;Aggregation=Average&amp;timespan=PT1M" />
    <add key="DTU:SubscriptionId" value="{Subscription-Id}" />
    <add key="DTU:ResourceGroupName" value="{Resource-Group-Name}" />
    <add key="DTU:SQLServerName" value="{SQL-Server-Name}" /> <!--Server name should not contain the complete path only the subdomain area of server name url -->
    <add key="DTU:SQLDatabaseName" value="{SQL-Database-Name}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>